[submodule "public"]
	path = public
	url = git@github.com:glw907/glw907.github.io.git
	branch = master
[submodule "themes/blackburn"]
	path = themes/blackburn
	url = https://github.com/yoshiharuyamashita/blackburn.git
